<ul >
  <li>
    <div class="image is-128x128 is-left">
      <img src="<%= @user.image_url_or_default %>">
    </div>
  </li>
  <li><%= link_to "About", "/", class:"tab-cover" %></li>
  <li><%= link_to "Friends", "/", class:"tab-cover" %></li>
  <li><%= link_to "Photos", "/", class:"tab-cover" %></li>
  <li><%= link_to "More", "/", class:"tab-cover" %></li>
</ul>