<%= form_for current_user.comments.build do |f| %>
  <div class="media">
    <div class="media-left">
      <div class="image is-64x64">
        <%= image_tag current_user.image_url_or_default %>
      </div>
    </div>
    <div class="media-content">
      <p class="is-title">
        <strong><%= link_to current_user.email, "/" %></strong>
        <%= f.text_area :body, class: "input comment-form" %> 
        <%= f.hidden_field :post_id, value: post.id %>
        <div class="field">
          <%= f.label :photo, class: "label" %>
          <div class="control"><%= f.file_field :photo, class: "input" %></div>
        </div>
        <%= f.submit "Send", class: "comment-form" %>
      </p>
    </div>
  </div>
<% end %>