<div class="post card" id="<%= dom_id post %>">
  
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <p class="image is-64x64">
            <%= image_tag(post.poster.image_url_or_default) %>
          </p>
        </div>
        <div class="media-content">
          <% unless post.on_self_wall? %>
          <p class="is-title">
            <strong><%= link_to post.poster.name, profile_user_path(post.poster.id) %> posted on 
            <%= link_to User.find(post.wall_user_id).name, profile_user_path(post.wall_user_id) %>
            </strong>
          </p>
          <% else %>
          <p class="is-title">
            <strong><%= link_to post.poster.name, profile_user_path(post.poster.id) %></strong>
          </p>
          <% end %>
            <%= mentions_text(post) %>
          <small><%= time_ago_in_words post.updated_at %> ago</small>
        </div>
      </div>
      <% if post.photo? %>
        <div class="image">
          <%= image_tag post.photo.url %>
        </div>
      <% end %>
      <div class="content">
        <%= simple_format post.body %>
        <%= form_tag('/posts', method: :delete) do %>
          <%= hidden_field_tag :monster_post, post.id %>
          <%= submit_tag "Delete" %>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <div class="level">
        <div class="level-left">
          <% if current_user %>
            <%= link_to fa_icon("thumbs-up", text: "Like"), toggle_like_path(post_id: post.id), 
              class: " js-like-button button is-white #{"is-liked" if current_user.liking?(post)}", 
              method: "post",
              remote: true 
            %>
          <% end %>
          <div class="level-item">
            <%= link_to fa_icon("comments", text: "Comment"), "", class: "button is-white comment-button" %>
          </div>
          <div class="level-item">
            <%= link_to fa_icon("upload", text: "Photo"), profile_user_path(post.poster.id), class: "button is-white upload" %>
          </div>
        </div>
      </div>
    </div>
    <%= render "posts/likes_sentence", item: post %>

    <div class="footer">
      <%= render "comments/comment_form", post: post %>
      <br>
      <%= render post.comments %>
    </div>

  
</div>





  
  