<div class="post card" id="<%= dom_id post %>">
  
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <p class="image is-64x64">
            <%= image_tag(post.poster.image_url_or_default) %>
          </p>
        </div>
        <div class="media-content">
          <% unless post.on_self_wall? %>
          <p class="is-title">
            <strong><%= link_to post.poster.name, profile_user_path(post.poster.id) %> posted on 
            <%= link_to User.find(post.wall_user_id).name, profile_user_path(post.wall_user_id) %>
            </strong>
          </p>
          <% else %>
          <p class="is-title">
            <strong><%= link_to post.poster.name, profile_user_path(post.poster.id) %></strong>
          </p>
          <% end %>
            <%= mentions_text(post) %>
          <small><%= time_ago_in_words post.updated_at %> ago</small>
        </div>
      </div>
      <% if post.photo? %>
        <div class="image">
          <%= image_tag post.photo.url %>
        </div>
      <% end %>
      <div class="content">
        <%= simple_format post.body %>
        <%= form_tag('/posts', method: :delete) do %>
          <%= hidden_field_tag :monster_post, post.id %>
          <%= submit_tag "Delete" %>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <div class="level">
        <div class="level-left">
          <div class="level-item likes-sentence">
            <%= render "posts/likes_sentence", post: post %> 
          </div>
          <div class="level-item">
            <%= link_to fa_icon("comments", text: "Comment"), "", class: "button is-white comment-button" %>
          </div>
          <div class="level-item">
            <%= link_to fa_icon("upload", text: "Photo"), profile_user_path(post.poster.id), class: "button is-white upload" %>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <%= form_for current_user.comments.build do |f| %>
        <%= f.text_area :body, class: "input comment-form hidden" %> 
        <%= f.hidden_field :post_id, value: post.id %>
        <div class="field">
          <%= f.label :photo, class: "label" %>
          <div class="control"><%= f.file_field :photo, class: "input hidden" %></div>
        </div>
        <%= f.submit "Send", class: "comment-form hidden" %>
      <% end %>

      <%= render post.comments %>
      
    </div>

  
</div>





  
  